<div class="row">
	<div class="hero-unit">
		<div class="row-fluid">
			<div class="span8">

			<% if current_user %>
				<h3>Hello <%= current_user.email %></h3>
			<% else %>
				<h1> RailStrap v 0.1 </h1>
			<% end %>
			<hr>
			<% if current_user %>
				<h4><%= link_to "Manage users", users_path %></h4>
			<% else %>
			<h3>Features</h3>
			<ul>
				<li>
					<strong>Front-end</strong>
					<ul>
						<li> <i class="icon-ok"></i> <a href="http://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a> </li>
						<li> <i class="icon-ok"></i> <a href="http://twitter.github.com/bootstrap/" target="_blank"> Twitter Bootsrap 2.0</a> </li>
					</ul>
				</li>
				<li>
					<strong>Back-end</strong>
					<ul>
						<li> <i class="icon-ok"></i> <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> 3.2.x</li>
						<li> <i class="icon-ok"></i> Authentication System</li>
					</ul>
				</li>
			</ul>
			<% end %>
			</div>
			<div class="span4">
				<% unless current_user %>
					<div class="tabbable">
					  <ul class="nav nav-tabs">
					    <li class="active"><a href="#tab1" data-toggle="tab">Log in</a></li>
					    <li><a href="#tab2" data-toggle="tab">Sign up</a></li>
					  </ul>
					  <div class="tab-content">
					    <div class="tab-pane active" id="tab1">
					      <%= render "sessions/form" %>
					    </div>
					    <div class="tab-pane" id="tab2">
					      <%= render :partial => "form", :locals => { :user => @user } %>
					    </div>
					  </div>
					</div>
				<% end %>
				
			</div>		

		</div>

		
		
	</div>
</div>