.row
  .col-12.col-sm-12.col-lg-4.col-offset-4
    %h2.center= RailStrap::Application.config.application_name
    %hr
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Log in
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Sign up
      .tab-content
        #tab1.tab-pane.active
          .panel
            = render "sessions/form"
        #tab2.tab-pane
          .panel
            = render :partial => "form", :locals => { :user => @user }
