.row
  .col-sm-12.col-md-5.col-md-offset-3
    .thumbnail
      %img{alt: "...", :src => @user.avatar.url}/
      .caption.center
        %h3 #{@user.username.humanize}
        = fa_icon "envelope"
        = @user.email
        %hr