<%= link_to t(".new_user"), new_admin_user_path, class: "btn btn-primary" %>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".email") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>

