<h1>Admin::Dashboards#index</h1>
<p>Find me in app/views/admin/dashboards/index.html.erb</p>

<%= link_to t(".new_user"), new_admin_users_path, class: "btn btn-primary" %>

<ul id="users">
  <%= render @users %>
</ul>
