<div class="row">
  <div class="col-sm-4">
   <div class="card">
     <img src="http://placehold.it/400x400" class="card-img-top img-fluid"/>
     <div class="card-block">
       <h4 class="card-title"></h4>
     </div>
     <ul class="list-group list-group-flush">
       <li class="list-group-item">
       </li>
     </ul>
   </div>
 </div>

 <div class="col-sm-8">
  <h2><%= t(".title") %></h2>
  <%= render "form" %>
 </div>
</div>
